<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>
        
        <p>Sorry! The event is full at the moment, and signup is closed. Don't bother showing up because without your name on the list you can not get in.</p>

        <form th:class="hidden" th:action="@{/form}" method="POST">
            <p>Name:</p><input type="text" placeholder="name" name="name" id="name"/>
            <p>Address:</p><input type="text" placeholder="address" name="address" id="address"/>
            <p></p><input type="submit" value="Submit" />
        </form>

        <p></p>
    </body>
</html>
